$color_1: var(--fg);
$color_2: currentcolor;
$color_3: var(--mid);
$color_4: var(--brand);
$color_5: #fff;
$font-family_1: "Red Hat Text", sans-serif;
$background-color_1: var(--bg);
$background-color_2: #fafafa;
$background-color_3: #050505;
$background-color_4: var(--mid);
$background-color_5: var(--brand);
$background-color_6: #f00;
$background-color_7: transparent;

/* BEGIN GHETTO RESET */
@keyframes rise {
	0% {
		transform: scale(1) translate(0, -0.5rem);
		color: currentcolor;
		opacity: 0;
	}
	100% {
		transform: scale(0.75) translate(0, -1rem);
	}
}
/* END GHETTO RESET */
/*hide submit button until fields have input*/
/*
Portrait mode for phones and sidebars 
*/
/*field outline*/
/* icons*/
/*helper objects */
&:root {
	font-size: 1.25rem;
	user-select: none;
	font-family: $font-family_1;
	--brand: #e00;
	--bg: #fff;
	--fg: #000811;
	--mid: #999;
	outline: none;
}
* {
	box-sizing: border-box;
	outline: 0;
	box-sizing: border-box;
	padding: 0;
	appearance: none;
	font-size: 1rem;
	font-weight: 300;
	font-family: $font-family_1;
	border: 0;
	box-shadow: 0;
	pointer-events: none;
	text-rendering: optimizelegibility;
	&:before {
		box-sizing: border-box;
		padding: 0;
		appearance: none;
		font-size: 1rem;
		font-weight: 300;
		font-family: $font-family_1;
		border: 0;
		box-shadow: 0;
		pointer-events: none;
		text-rendering: optimizelegibility;
	}
	&:after {
		box-sizing: border-box;
		padding: 0;
		appearance: none;
		font-size: 1rem;
		font-weight: 300;
		font-family: $font-family_1;
		border: 0;
		box-shadow: 0;
		pointer-events: none;
		text-rendering: optimizelegibility;
	}
}
&:before {
	box-sizing: border-box;
	outline: 0;
}
&:after {
	box-sizing: border-box;
	outline: 0;
}
body {
	background-color: $background-color_1;
	background-color: $background-color_2;
	color: $color_1;
	overscroll-behavior: none;
	flex-direction: column;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	text-align: center;
	display: flex;
	&::before {
		content: "";
	}
	&::after {
		content: "";
	}
}
form {
	position: relative;
	display: block;
	border-radius: 0.4rem;
	box-shadow: 0 0.5rem 0.75rem -0.75rem rgba(0, 0, 0, 0.5);
	width: 20rem;
	margin: 0 auto;
	min-height: 4rem;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $background-color_4;
		opacity: 0.085;
		z-index: 0;
		border-radius: 0.4rem;
	}
}
input {
	appearance: none;
	pointer-events: all;
	color: $color_2;
	cursor: pointer;
	box-shadow: none;
	outline: 0 !important;
	width: 10rem;
	height: 4rem;
	line-height: 4.5rem;
	position: absolute;
	padding: 0;
	display: block;
	margin: 0 auto;
	text-indent: 0;
	text-align: left;
	&:focus {
		+ {
			label {
				+ {
					small {
						+ {
							svg {
								stroke: var(--brand);
								color: $color_4;
								use {
									stroke: var(--brand);
									color: $color_4;
								}
							}
						}
					}
				}
			}
		}
	}
	+ {
		label {
			+ {
				small {
					+ {
						svg {
							text-align: left;
							z-index: 3;
							height: 1.25rem;
							width: 1.25rem;
							left: 0.5rem;
							top: 1.5rem;
						}
					}
				}
			}
		}
	}
	&:-webkit-autofill {
		transition: background-color 50000s ease-in-out 50000s;
		font-family: $font-family_1 !important;
		box-shadow: inset 0 0 0 10rem var(--bg);
		z-index: 3;
		&:hover {
			transition: background-color 50000s ease-in-out 50000s;
			font-family: $font-family_1 !important;
			box-shadow: inset 0 0 0 10rem var(--bg);
			z-index: 3;
			+ {
				label {
					+ {
						small {
							display: none !important;
						}
					}
				}
			}
		}
		&:focus {
			transition: background-color 50000s ease-in-out 50000s;
			font-family: $font-family_1 !important;
			box-shadow: inset 0 0 0 10rem var(--bg);
			z-index: 3;
		}
	}
}
small {
	color: $color_3;
	z-index: 1;
	width: 10rem;
	height: 4rem;
	line-height: 4.5rem;
	position: absolute;
	padding: 0;
	display: block;
	margin: 0 auto;
	text-indent: 0;
	text-align: left;
	opacity: 0;
	font-weight: 200;
	text-indent: 2.75rem;
	+ {
		svg {
			stroke: var(--mid);
			color: $color_3;
		}
	}
}
&:valid {
	+ {
		label {
			z-index: 4;
			transform-origin: 2.5rem 0;
			animation: rise 0.45s ease-out forwards;
			transform: scale(0.75) translate(0, -1rem);
			color: $color_3;
		}
	}
	~ {
		&:valid {
			~ {
				[type=submit] {
					height: 4rem;
					margin-top: 4rem;
					opacity: 1;
					transform: translate(0, -0.1rem);
					box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.3);
					transition: all 0.5s cubic-bezier(0.3, 0.2, 0.2, 1);
				}
			}
		}
	}
}
&:focus {
	+ {
		label {
			z-index: 4;
			transform-origin: 2.5rem 0;
			animation: rise 0.45s ease-out forwards;
			transform: scale(0.75) translate(0, -1rem);
			color: $color_4;
			+ {
				small {
					+ {
						svg {
							.flash {
								stroke-dashoffset: 1;
								transition: all 0.6s ease-out;
								opacity: 1;
								stroke-linecap: round;
							}
						}
					}
				}
			}
		}
	}
	outline: 0;
	&:not(:valid) {
		+ {
			label {
				+ {
					small {
						opacity: 0.5;
						transition: opacity 1s ease 1s;
					}
				}
			}
		}
	}
}
&::selection {
	color: $color_5;
	background: rgba(238, 0, 0, 0.99);
}
&::-moz-focus-inner {
	border: 0;
	outline: 0;
}
label {
	font-weight: 400;
	color: $color_3;
	width: 10rem;
	height: 4rem;
	line-height: 4.5rem;
	position: absolute;
	padding: 0;
	display: block;
	margin: 0 auto;
	text-indent: 0;
	text-align: left;
	text-indent: 2.75rem;
}
svg {
	width: 10rem;
	height: 4rem;
	line-height: 4.5rem;
	position: absolute;
	padding: 0;
	display: block;
	margin: 0 auto;
	text-indent: 0;
	text-align: left;
	use {
		fill: none;
	}
}
[type=submit] {
	background-color: $background-color_5;
	color: $color_5;
	border-radius: 0 0 0.4rem 0.4rem;
	text-align: center;
	background-image: linear-gradient(#f00, #c00);
	line-height: 4rem;
	width: 100%;
	position: relative;
	display: block;
	transition: all 0.24s ease;
	overflow: hidden;
	position: absolute;
	bottom: -4rem;
	&:after {
		content: "";
		display: block;
		position: absolute;
		height: 4rem;
		top: 0;
		left: 50%;
		margin-left: -4rem;
		transform: skew(-45deg) translate(-200%, 0);
		background-color: $background-color_6;
		width: 8rem;
		transition: all 0.5s ease;
	}
	&:focus {
		&:after {
			transform: skew(-45deg) translate(200%, 0);
			opacity: 0;
		}
		box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.3) !important;
	}
}
&:not(:valid) {
	~ {
		[type=submit] {
			opacity: 0;
			transform: translate(0, 0.3rem);
			z-index: 0;
		}
	}
}
.note {
	position: fixed;
	bottom: 1em;
	left: 0;
	color: $color_3;
	width: 100%;
	font-size: 0.5em;
	z-index: -1;
}
[type=text] {
	text-indent: 2.75rem;
	text-align: left;
	background-color: $background-color_7;
	line-height: 4rem;
	padding-top: 0.5rem;
	top: 0;
	border-radius: 0 0 0;
	user-select: all;
	&:focus {
		transition: box-shadow 0.4s ease;
		background-image: none;
		background-color: $background-color_1;
		box-shadow: 0 0.5rem 0.5rem -0.4rem rgba(0, 0, 0, 0.4);
	}
}
[type=password] {
	text-indent: 2.75rem;
	text-align: left;
	background-color: $background-color_7;
	line-height: 4rem;
	padding-top: 0.5rem;
	top: 0;
	right: 0;
	&:focus {
		transition: box-shadow 0.4s ease;
		background-image: none;
		background-color: $background-color_1;
		box-shadow: 0 0.5rem 0.5rem -0.4rem rgba(0, 0, 0, 0.4);
	}
	+ {
		label {
			right: 0;
			+ {
				small {
					right: 0;
					+ {
						svg {
							left: 10.75rem;
						}
					}
				}
			}
		}
	}
	&:valid {
		~ {
			svg {
				.lock {
					transition: transform 0.5s ease;
					transform: translate(0, 1.25px);
				}
			}
		}
	}
}
.fedora {
	fill: currentcolor !important;
	transform: translate(0, -1.5px);
	opacity: 0;
}
#burst {
	stroke: var(--mid);
	fill: transparent;
	stroke-width: 1px;
}
#fed {
	fill: transparent;
	stroke-width: 1px;
	fill: currentcolor !important;
	fill: auto !important;
}
#user {
	fill: transparent;
	stroke-width: 1px;
}
#lock {
	fill: transparent;
	stroke-width: 1px;
}
#pad {
	fill: transparent;
	stroke-width: 1px;
}
[viewbox="0 {
	0 {
		10 {
			10"] {
				use {
					fill: transparent;
					stroke-width: 1px;
				}
			}
		}
	}
}
.lock {
	transform: translate(0, 0px);
}
input[type=text] {
	&:valid {
		~ {
			svg {
				.fedora {
					transform: translate(0, -0.7px);
					transition: opacity 0.2s ease, transform 0.35s ease;
					opacity: 1;
				}
			}
		}
	}
}
.logo {
	width: 100%;
	position: relative;
	margin: 1rem auto;
	width: 100%;
	height: 2.5rem;
}
#brim {
	fill: var(--brand);
}
#type {
	fill: currentcolor;
}
.flash {
	stroke-dasharray: 1 5;
	stroke-dashoffset: -4;
	stroke-linecap: round;
	opacity: 0;
}
.hbox {
	display: none;
}
@media (prefers-color-scheme: dark) {
	&:root {
		--bg: #050505;
		--fg: #ddd;
		--mid: #555;
	}
	body {
		background-color: $background-color_3;
	}
	#band {
		fill: transparent;
	}
	form {
		&:before {
			opacity: 0.2 !important;
		}
	}
}
@media screen and (max-width: 440px) {
	&:root {
		font-size: 1rem;
	}
	form {
		min-height: 8rem;
		width: 10rem;
	}
	[type=submit] {
		margin-top: 4rem;
		position: relative;
		height: 3rem;
		line-height: 3rem;
	}
	&:valid {
		~ {
			&:valid {
				~ {
					[type=submit] {
						height: 3rem;
						line-height: 3rem;
					}
				}
			}
		}
	}
	[type=text] {
		&:focus {
			box-shadow: 0 0.1em 0 var(--brand);
			z-index: 3;
		}
	}
	[type=password] {
		&:focus {
			box-shadow: 0 0.1em 0 var(--brand);
			z-index: 3;
		}
		top: 4rem;
		+ {
			label {
				top: 4rem;
				+ {
					small {
						top: 4rem;
						+ {
							svg {
								top: 4rem;
								left: 0.25rem;
								top: 5.5rem;
							}
						}
					}
				}
			}
		}
	}
	[viewbox="0 {
		0 {
			10 {
				10"] {
					left: 0.25rem;
				}
			}
		}
	}
}
@media (min-width: 300px) and (orientation: landscape) {
	.hbox {
		display: block !important;
		width: 100%;
		height: 4rem;
		top: 0;
		fill: none;
		stroke-width: 1;
		stroke: var(--mid);
		stroke-dasharray: 0 468;
		stroke-dashoffset: -96;
		transition: all 0.5s ease;
	}
	[type=text] {
		&:focus {
			~ {
				.hbox {
					stroke-dasharray: 138 334;
					stroke-dashoffset: 42;
					stroke: var(--brand);
				}
			}
		}
	}
	[type=password] {
		&:focus {
			~ {
				.hbox {
					stroke-dasharray: 138 334;
					stroke-dashoffset: 42;
					stroke: var(--brand);
					stroke-dashoffset: -96;
				}
			}
		}
	}
	[type=submit] {
		&:focus {
			~ {
				.hbox {
					stroke-dashoffset: -300;
				}
			}
		}
	}
}
@media (max-height: 300px) and (orientation: landscape) {
	body {
		overflow-y: auto;
	}
	.hbox {
		display: none;
	}
	form {
		.note {
			display: none;
		}
		.logo {
			display: none;
		}
	}
}
